@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    overflow-x: hidden;
}

.open
{
    transition: transform 0.2s ease-in;
    transform: translateX(0);
}

.close
{
    transition: transform 0.2s ease-in;
    transform: translateX(100%);
} */

